@model IEnumerable<FT_MarketStore.Models.Product> 
@{
	ViewData["Title"] = "Products"; 
	Layout = "~/Views/Shared/_Layout.cshtml";
	var roleId = ViewBag.RoleId;
	var userId = ViewBag.userId; 
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="~/css/myStyle.css" />   

</head>
<body>
  	<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1> Products </h1>
							</div>
						</div>
						<div class="col-lg-7"> </div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
		
		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container"> 
                <div class="row">
    <div class="col-md-6 mb-4">
      <form class="form-inline md-form mr-auto ">
        <input class="form-control mr-sm-2" type="text" id="searchProducts" placeholder="Search" aria-label="Search"> 
      </form>
    </div>
</div>
		      	<div class="row">
            @foreach (var item in Model) {
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" name="@item.ProductName" id="pro">
						@if (userId == null)
						{
							<a class="product-item" onclick="alert('You should Login First !!')" >  
								<img src=@Url.Content("~/Images/" + @item.ImagePath) asp-append-version="true" class="img-fluid product-thumbnail" />
				<h3 class="product-title" id="Product">@Html.DisplayFor(modelItem => @item.ProductName)</h3>	
				<strong class="product-price">$@item.ProductPrice</strong>  
				<span class="icon-cross">
				<img src="~/assists2/images/cross.svg" class="img-fluid" id="@item.ProductId" >
				</span> 
				</a>
						}else
						{
							<a class="product-item itemProduct" id="@item.ProductId"> 
								  <img src=@Url.Content("~/Images/" + @item.ImagePath) asp-append-version="true" class="img-fluid product-thumbnail" />
				<h3 class="product-title" id="Product">@Html.DisplayFor(modelItem => @item.ProductName)</h3>	
				<strong class="product-price">$@item.ProductPrice</strong>  
				<span class="icon-cross">
				<img src="~/assists2/images/cross.svg" class="img-fluid" id="@item.ProductId" >
				</span> 
				</a>
						}
						

			</div> 
                }  
		        @if (userId == null)
				{
					<a onclick="alert('You should Login First !!')" ><img src="~/assists2/images/cart.png" class="cart" alt="Cart" ></a>
				}
					else
					{
					<a asp-action="Cart" asp-controller="Carts"><img src="~/assists2/images/cart.png" class="cart" alt="Cart" ></a>
					}
					</div>
	</div>
</div> 
<script>
    	$('#searchProducts').on('input', function () { 
		var ss = $('#searchProducts').val(); 
		if (ss == "") { 
			$("div[id='pro']").css('display', 'block');  
		} else {
			$("h3[id='Product']").each(function (i, item) {
				if (item.innerHTML.toLowerCase().includes(ss.toLowerCase())) {
					$(`div[name="${item.innerHTML}"]`).css('display', 'block'); 
				} else { 
					$(`div[name="${item.innerHTML}"]`).css('display', 'none'); 
				} 
			}); 
		} 
	}) 
</script>

</body>
</html>

<script>
var ids = [];
$('.itemProduct').on('click', function() {
    var x = $(this).attr("id");
	$(`img[id=${x}]`).attr('src', 'https://upload.wikimedia.org/wikipedia/commons/2/27/White_check.svg'); 
	$.ajax({
                url: `/Carts/addtolist?id=${x}`,
                method: "GET",
                success: function (response) {},
                error: function (error) {
                    alert(error.message);
                    console.log(error);
                }
            });

});
function goToCart() {
    var data = {
		productsId:ids
	} 
	 $.ajax({
                url: "/Carts/Cart",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (response) {
                    
                    window.location.href("");
                },
                error: function (error) {
                    alert(error.message);
                    console.log(error);
                }
            });
}

</script>

	
