@model IEnumerable<FT_MarketStore.Models.Category>

@{
    ViewData["Title"] = "Index"; 
    Layout = "~/Views/Shared/_ AdminLayout.cshtml";
    var roleId = ViewBag.RoleId;
	var userId = ViewBag.userId; 
}

<h1 style="position:relative;left:50px; color:white">Categories</h1>
<br />
<p>
    <a asp-action="Create" style="position:relative;left:50px;" class="btn btn-primary">Create New</a>
</p>
<table style="position:relative;left:50px;" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <img src=@Url.Content("~/Images/" + item.ImagePath) asp-append-version ="true" style="border-radius:20%;" width="100" height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
