@model FT_MarketStore.Models.UserLogin

@{
    ViewData["Title"] = "Delete";
        
    Layout = "~/Views/Shared/_ AdminLayout.cshtml";
}
<br />
<h1 style=" position:relative;left:210px; color:white">Delete</h1>
<br /> 
<h3 style="position:relative;left:210px;  color:white" >Are you sure you want to delete this?</h3>
<div class="container tm-mt-big tm-mb-big" >
    <h4 style="color:white" >User Login</h4>
    <hr/>
    <dl style="color:white" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passwordd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passwordd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoginId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <br />
        <br />

        <a asp-action="Index" class="btn btn-primary btn-block text-uppercase" >Back to List</a>
    </form>
</div>
